#main_div {
	text-align: center;
}
.descripcion {
	border: 1px black solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 5px;
	background-color: #D9CFB2;
	text-align: left;
}

.foto {
	border: 1px solid black;
	border-bottom: none;
}

.botones {
	padding-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

#mapa {
	border: 1px solid black;
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}

.titulo {
	text-align: center;
}