/* ESTILO PARA REPORTES SOLAMENTE */

#contenido {
	margin-top: 5vh;
	width:100%;
}

#titulo {
	text-align: center;
	padding:5px;
}

#upload {
	width: 100%;
	text-overflow: hidden;
}

#botonReporte {
	float: right;
}

#mapa {
	padding: 10px;
	height: 40vh;
	border: 1px solid black;
}

#formularioReporte {
	margin-top: 7vh;
	padding: 0;
	
}